<h1>Goodbye!</h1>
<p>
	It was nice having you here
</p>
<p>
	Say <%= link_to "Hello", say_hello_path %> again.
</p>
<%= 1+2 %>
<%= "cow" + "boy" %>
<%= 1.hour.from_now %>
<P>
<% for file in @files %>
<ul>file name is: <%= file %></ul>
<% end %>
</p>